.nav-pills, .nav-tabs {
  margin-bottom: 1rem;
  padding-top: 15px;
  font-size: 1.15rem;
}

.btn {
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.nav-link {
  /* color: teal; */
}

.col-sm-3 {
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  box-shadow: inset 0px 1px 3px 0px;
  /* color: #adaca7; */
}

.tab-pane {
  min-height: 550px;
}

.nav-tabs .nav-link {
  background-color: #007bff; 
  border: 1px solid silver;
  color: white;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #0050a7;
  border: 1px solid silver;
}

/* .tab-content {
  padding-bottom: 15px;
} */

@media only screen and (max-width: 577px) {
  .col-sm-3 {
    /* border: 1px solid silver; */
    border-radius: 4px;
    /* background-color: ivory; */
    box-shadow: unset;
    /* color: #adaca7; */
  }
}