body {
  background-color: seagreen;
}

.page-content {
  background-color: ghostwhite;
  border-radius: 8px;
  /* border: 1px solid grey; */
  /* padding: 1.5rem; */
}

.tab-content {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

h4 {
  padding-top: 0.5rem;
}

h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex-column {
  text-align: center;
}