body {
  background-color: #0059b8;
}

.tab-content {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

h4 {
  padding-top: 0.5rem;
}

h3 {
  text-align: center;
}

.flex-column {
  text-align: center;
}